*{
    margin:0;
    border:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}


header{
    /* height:auto;
    width:100%; */
    overflow: hidden;
    /* position:relative;
    object-fit: cover; */
    margin-bottom:7vh;
}

.main-image{
    position: absolute; 
    top:-20vh;
    z-index:-1;
    width: 20vw;
    height: 20vh;

}

.nav{
    display:flex;
    justify-content: space-between;
    margin:1vh 10vw;
    /* color:white;  */
    font-size:1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar{
    display:flex;
    cursor: pointer;
}

.nav-bar li{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    padding-left:30px;
    list-style:none;
}

.head{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:7vh;
}

.logo{
    width:40vw;
    z-index: 1;
}


.head h3{
    font-size: 2em;
    /* color:whitesmoke; */
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top:0px;
}

.search{
   display:flex;
   width:55vw;
   align-items: center;
   justify-content: flex-start;
   border-radius: 10px;
   padding:5px 0;
   background-color: white; 
   border:1px solid black;
   margin-top:40px;
}

.search input{
    width:50%;
    padding-left:10px;
    font-size:15px;
    border:none;
    outline:none;
}

.search p{
    color:gray;
    border-right:1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    border-right:10px;
}

.sec-1{
    display:flex;
    justify-content: center;
    margin-bottom:13vh;
    cursor: pointer;
}


.box{
    position: relative;
    width:265px;
    margin:3px 5px;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(243,240,240);
    box-shadow: 0 1px 2px gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover{
    transform: translateY(-8px);
}

.box img{
    width:100%;
    border-radius:15px;
    z-index: -1;
    border:1px solid rgb(204,203,203); 
}

.white{
    position: absolute;
    bottom: 3px;
    align-items:center;
    border-radius:0 0 15px 15px; 
    width:100%;
    height:25%;
    z-index:2;
    background-color: white;;
}

.white p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color:rgb(56, 56, 56);
}


.middle{
    margin:60px 150px;
}


.sec-2 h2{
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 10px;
}

.sec-2 div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sec-2 h6{
    margin:0;
    font-size: 1rem;
    font-weight: lighter;
    color:gray;
}

.sec-2 span{
    color:rgb(248,117,117);
    cursor:pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

span:hover{
    transform: translate(-8px);
}

.box-1{
    width:200px;
    height:250px;
    overflow:hidden;
    position:relative;
    border-radius: 8px;
}

.box-1 div{
    position: absolute;
    background: linear-gradient(transparent, black);
    width:100%;
    height:25%;
    display:flex;
    align-items: flex-end;
    bottom: 0;
}

.box-1 span{
    color:white;
    padding-left: 15px;
    font-size: 1rem;
    /* display:inline-block; */
    padding-bottom: 5px;
}


.box-1 img{
    width:200px;
    height:250px;
    object-fit:cover;
}

.sec-3{
    display: flex;
    margin-top: 30px;
    margin-bottom: 130px;
    justify-content: space-between;
    gap:25px;
    cursor: pointer;    
}

.box-1{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-1:hover{
    transform: translateY(-8px);
}

.box-2{
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-2:hover{
    transform: translateY(-8px);  
}

.middle h1{
    font-size: 2.1rem;
    font-weight: lighter;
    text-align: center;
    margin:50px;
    color:rgb(56, 56, 56);
}


.sec-4{
    display:grid;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: 250px 250px ;
    grid-template-rows: auto;
}

.box-2{
    border:1px solid rgb(235,233,233);
    box-shadow: 0 1px 3px rgb(226,223,223);
    width:250px;
    height:60px;
    overflow: hidden;
    border-radius: 10px; 
    cursor: pointer;  
}

.box-2 div{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;   
}

.box-2 div span{
    color:rgb(65,64,64);
    font-size: 1.2rem;
    /* display:inline-block; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.sec-5{
    display:flex;
    margin:90px 00;
    padding:40px 0;
    justify-content: center;
    background-color: rgb(255,248,248);
}

.flex{
    display: flex; 
}

.contact{
    width: 760px;
    overflow: hidden;
}

.contact img{
    width: 250px;
    height:450px;
    padding-right: 40px;
    overflow-x: clip;
}

.address{
    width:470px;
    margin-top:20px;
    padding-left: 10px;
}

.address p{
    padding-bottom:10px;
    font-size: 0.95rem;
    color:rgb(92,91,91);
}

.address h2{
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color:rgb(34,34,34);
}

.radio{
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
    padding-bottom: 20px;    
}

.radio label{
    font-size: 1.1rem;
    color: rgb(49,49,49);
}

.radio [type="radio"]{
    accent-color: Irgb(255,92,92);
}
.email{
   position: relative;
}

.email input{
    height: 46px;
    border-radius: 5px;
    width: 270px;
    border: 1px solid rgb(184,183,183);
    outline: rgb(255,92,92);
    font-size: 1.3rem;
    padding-left: 15px;
}

.place{
    position: absolute;
    font-size: 1.3rem;
    left: 15px;
    top: 13px;
    color:gray;
    font-weight: lighter;
}

.email button{
    width: 150px;
    border-radius: 6px;
    border:1px solid rgb(253,104,104);
    background-color: rgb(253,104,104);
    font-size:1.1rem;
    margin-left:6px;
    color:white;
}

.download{
    font-size: 0.7rem;
    margin-top: 27px;
    margin-bottom: 0;
    color:gray;
}


.app{
    cursor: pointer;
}


.app img{
    width:137px;
    height:40px;

}


.sec-6{
    margin-bottom: 110px;
    overflow: hidden;
}

.sec-6 h1{
    font-size: 1.9rem;
    font-weight: lighter;
    color:rgb(31,31,31);
}

.sec-6 h4{
    font-size: 1.4rem;
    font-weight: lighter;
    color:rgb(34,34,34);
    margin-bottom: 25px;
    padding-bottom:10px;
    padding-top:80px;
}

.sec-6 a{
    text-decoration: none;
    color:gray;
    font-size: 1rem;
}

.end{
    margin:60px 130px;
    overflow: hidden;
}

.end-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  max-width: 900px;
}

.end-column a {
  padding: 12px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}


.first img{
    width:160px;
    height:50px;
}

.sec-7{
    padding:40px 120px;
    background-color: rgb(244,244,253);
}

.first{
    display:flex;
    justify-content: space-between;
}

.first-1{
    display:flex;
}

.first-1 span{
    padding:5px;
    /* border:1px solid black; */
    border-radius: 5px;
    /* margin-right: 20px; */
    font-weight: 400;
    margin:10px;
}


.second{
    display: flex;
    justify-content: space-around;
    margin:30px 0;
}

.second div{
    width:200px;
}

.second h4{
    font-weight: lighter;
    color:black;
    white-space: nowrap;
}

.second a{
    display: inline-block;
    width: 200px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-decoration: none;
    color:gray;
    font-size: 1rem;
}

.second img{
    width:137px;
    height:40px;
    margin-top: 11px;
    cursor: pointer;
}

.box-4{
    display:flex;
    flex-direction: column;
}

.box-4 i{
    margin-left: 5px;
    margin-bottom: 5px;
}


hr{
    /* text-align: center; */
    height:10px;
}


.icons{
    display: flex;
    width:20px;
}

/* .main-image{
    position:absolute;
    height:40vh;
    width: 300vw;
    overflow: hidden;
    z-index: -1;
    opacity: 0.5;
} */

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-bar {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 70vw;
    }

    .head h3 {
        font-size: 1.4rem;
        text-align: center;
    }

    .search {
        width: 90vw;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .search p {
        border-right: none;
    }

    .search input {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sec-1 {
        flex-wrap: wrap;
        gap: 20px;
    }

    .box {
        width: 90vw;
    }
}


@media (max-width: 768px) {
    .sec-3 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-1 {
        width: 90vw;
        height: 220px;
    }

    .box-1 img {
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 768px) {
    .sec-4 {
        grid-template-columns: 1fr;
    }

    .box-2 {
        width: 90vw;
    }
}


@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact img {
        width: 200px;
        height: auto;
        padding: 0;
    }

    .address {
        width: 100%;
        padding: 0 10px;
        text-align: center;
    }

    .radio {
        justify-content: center;
        gap: 20px;
        margin-right: 0;
    }

    .email {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .email input,
    .email button {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .second {
        flex-wrap: wrap;
        gap: 30px;
    }

    .second div {
        width: 100%;
        text-align: center;
    }

    .icons {
        justify-content: center;
        width: 100%;
    }

    .first {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}










